.container {
  max-width: 600px;
}

.card {
  border-radius: 10px;
}

.form-control {
  border-radius: 8px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #465666;
}

input[type="radio"] {
  transform: scale(1.25);
  margin-right: 8px;
}

h1 {
  color: #792a2a; /* same rust red */
  margin-bottom: 3rem;
}
