<section id="accommodation" class="accommodation-section py-5">
  <div class="container text-center">
    <h2 class="fw-bold mb-4">Accommodation</h2>

    <h5 class="mb-4">
      <strong>Cherry Glamping, Elgin Valley</strong>
    </h5>

    <p>
      Bring your glamping shoes and join us for a weekend of celebration under
      the stars.
    </p>

    <div class="row">
      <!-- Glamping Options Card -->
      <div class="col-12 col-md-6">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title fw-bold py-2">Glamping Options</h5>
            <hr />
            <ul class="list-unstyled">
              <li>
                <strong>Single:</strong> R2250 (1 night) / R3250 (2 nights)
              </li>
              <li>
                <strong>Double:</strong> R3250 (1 night) / R4250 (2 nights)
              </li>
              <li><strong>Extra Bed:</strong> R375 per night</li>
            </ul>
            <p class="mb-1"><strong>Check-in Friday:</strong> 15:00</p>
            <p><strong>Check-out Sunday:</strong> 10:00</p>
          </div>
        </div>
      </div>

      <!-- Booking Detials Card -->
      <div class="col-12 col-md-6">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title fw-bold py-2">Booking Detials</h5>
            <hr />
            <p class="mb-3">
              Please book before
              <strong>30 September 2025</strong>.<br />
            </p>
            <p>
              Banking details:
              <strong>Franz Ruttkamp - FNB Savings Account</strong><br />
              Account no: <strong>62894695158</strong><br />
              Branch code: <strong>250655</strong><br />
              Reference: <strong>F&C - Your Name</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card shadow-sm">
          <div class="card-body accommodation-img">
            <img
              src="assets/dennebos.jpg"
              class="img-fluid w-100 rounded shadow"
              alt="Accommodation Photo"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 venuephoto">
        <div class="card h-100 shadow-sm">
          <div class="card-body accommodation-img">
            <img
              src="assets/venuephoto1.jpg"
              class="img-fluid w-100 rounded shadow"
              alt="Accommodation Photo"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 venuephoto pt-0 pt-md-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body accommodation-img">
            <img
              src="assets/venuephoto2.jpg"
              class="img-fluid w-100 rounded shadow"
              alt="Accommodation Photo"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
