<section id="travel" class="travel-section py-5 text-center">
  <div class="container">
    <h2 class="fw-bold mb-4">Travel & Accommodation</h2>
    <p class="lead">Find the best hotels and travel options for our wedding.</p>

    <div class="row">
      <div class="col-md-6">
        <h4>Where to Stay</h4>
        <p>We have reserved rooms at [Hotel Name]. Book early for a discount.</p>
      </div>
      <div class="col-md-6">
        <h4>How to Get There</h4>
        <p>Our venue is located at [Venue Address]. Click below for directions.</p>
        <a href="https://goo.gl/maps/yourlink" target="_blank" class="btn btn-primary">Get Directions</a>
      </div>
    </div>
  </div>
</section>
